*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
    height: 700px;
    border: 1px solid black;
    display: flex;
    margin: auto;
    margin-top: 80px;
}

.left-side{
    background-image: url(../images/Kaisa.jpg);
    width: 50%;
    background-position: center;
    background-position-y: 0;
    display: flex;
    align-items: end;
}

.text{
    margin: 30px;
    color: white;
}

.right-side{
    width: 50%;
    padding: 80px;
    background-color: #22223b;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 12px;
}

label{
    color: white;
    font-size: 18px;
}

.terms{
    display: flex;
    gap: 10px;
}

.terms label{
    font-size: 14px;
}

#terms{
    cursor: pointer;
}

input{
    height: 32px;
}

#register{
    font-size: 16px;
    color: white;
    background-color: rgb(4, 138, 233);
    border: none;
    cursor: pointer;
}

#register:hover{
    background-color: rgb(31, 162, 255);
}

.others{
    color:aliceblue;
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}

.others-txt{
    color: white;
    margin-top: 12px;
    text-align: center;
}

.others img{
    border-radius: 50%;
    padding: 4px;
    background-color: rgb(229, 230, 231);
    cursor: pointer;
}

.others img:hover{
    background-color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: rgb(2, 201, 201);
}

a:hover{
    color: rgb(5, 243, 243);
}